<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696791177449-e42gntlfq3jo8hvvclgk7v2u6qvkfkui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696791177449-e42gntlfq3jo8hvvclgk7v2u6qvkfkui</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>696791177449-5retk4irko49ggc8qi6uvqdk4qcboiv9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqNJNL_Fk7yyABEODKYYGfNKyoj2K0-dk</string>
	<key>GCM_SENDER_ID</key>
	<string>696791177449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mealsApp</string>
	<key>PROJECT_ID</key>
	<string>pflege-d3c00</string>
	<key>STORAGE_BUCKET</key>
	<string>pflege-d3c00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696791177449:ios:32de2831f96086b15e7878</string>
</dict>
</plist>